{% extends "template.html" %}
{% set active_page = "difficulty" %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<div class="container">

<canvas id="secondChart" width="auto" height="auto"></canvas>
<script>
var ctx = document.getElementById("secondChart").getContext('2d');
var labels = [];
var data = [];

{% for line in difficultyGraph %}
    labels.push("{{line.blockNum}}");
    data.push({{line.difficulty}});
{% endfor %}

var difficultyChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Difficulty (TH)',
            data: data,
            pointRadius: 0,
            borderWidth: 1,
            borderColor: 'rgba(54, 162, 235, 1)',
            pointBorderColor: 'rgba(54, 162, 235, 1)',
            pointHoverRadius: 4,
            backgroundColor: 'rgba(54, 162, 235, 0.2)', 
        }]
    },
    options: {
        scales: {

            yAxes: [{

                ticks: {
                    beginAtZero:true,
                    maxTicksLimit: 10
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true,
                    maxTicksLimit: 20
                }
            }]
        },
        title: {
            display: false,
            text: 'Difficulty Chart'
        },
        tooltips: {
 			mode: 'index',
 			intersect: false
        }



    }
});
</script>
</div>
{% endblock %}