{% extends "template.html" %}
{% set active_page = "home" %}
{% block content %}

<script src="/static/js/moment.min.js"></script>

{% if error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>ERROR</strong> {{error}}.
</div>
{% endif %}

<div class="container">

<div class="jumbotron"  >
	<h1>Welcome to the Easy Walton Tracker! BETA </h1>
	<p>Search your wallet address below to get started</p>

	<form action="/search" method="POST">
	<div class="input-group">
      <input type="text" class="form-control" name="etherbase" placeholder="Enter Wallet Address"" aria-label="Search for...">
      <span class="input-group-btn">
        <input class="btn btn-primary btn-lg active" type="submit" role="intput" aria-pressed="true"></a>
      </span>
    </div>
</form>
</div>




<div id="Last10Blocks">
	<h3>Demo of Last 10 Blocks</h3>

	<table class='height: 100px; max-width: 100%; table table-hover data-spy="scroll" overflow: auto table table-striped table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Block</th>
			<th scope="col">Wallet</th>
			<th scope="col">Rig</th>
			<th scope="col">Difficulty (TH)</th>
			<th scope="col">Gas</th>
			<th scope="col">Time</th>
			<th scope="col">Date</th>
		</tr>
		</thead>
		<tbody>
					{% for line in lastTen %}
						<tr>
								<td>{{line.blockNum}}</td>
								<td><a href="/miner/{{line.miner}}">{{line.miner}}</a></td>
								<td>{{line.extra_data}}</td>
								<td>{{line.difficulty}}</td>
								<td>{{line.gasUsed}}</td>
								<td>
									{# this is conversion to local datetime #}
									{{ momentjs(line.timest).fromNow() }}
									
        						</td>

        						<td>
									{# this is conversion to local datetime #}
									{{ momentjs(line.timest).calendar() }}
									
        						</td>

						</tr>
					{% endfor %}
			</tbody>

	</table>
</div>




<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

  <h4 id="About">About</h4>
  <p>
  	<b1>

	</b1>

  	<b1>
		This website is made to be a free and not for profit tool for miners of Waltonchain. The purpose is to allow people to monitor blocks they mine with regard to each seperate mining machine. It is run and maintaned by Walton fans as a way to contribute to the community, but is not our full time job. We are not professionals, and we do not store and will not ever ask for any users information such as private keys. If you want to help out you can reach us below or make a contribution on our GitHub. <br/>
	</b1>

	<b1>
		The website is currently running on a home server (personal computer), due to the Waltonchain mining program only being avaliable for Windows. Please forgive us if it is a bit slow to update to the latest blocks, migration to a better hosting service will happen as soon as possible. <br/>
	</b1>

	<b1>
		Please note that this website is in BETA. We are focusing on getting everything working behind the scenes before making it look pretty. If anyone has any ideas or would like to help out contact us below. <br/>
	</p>



  <h4 id="FAQ">FAQ</h4>
  <p><h5> What is this website? </h5>
	<p3> This site is a tool for tracking blocks mined to the Waltonchain network. It tracks blocks by address and displays data such as the total blocks mined, when a block was mined by a certain address, and which computer mined each block. To see the data for a specific wallet address, just paste it in the searchbar above! </p3>
	<h5> How do I setup my miner? </h5>
	<p3> If you already are mining Walton, you are 99% of the way there! Head over to our <a href="/howto">How To</a> page to view the requirements and finish setting up your miner for this service. <br/>  <br/>

		If you have not started mining Walton yet, you can head on over to the <a href = "www.waltonchain.net">WaltonChain</a> website to download the latest miner. Unfortunately the latest miner will not work with this service, but we hope to get it working soon!

	<h5> Who are you? </h5>
	<p3> We are Walton supporters looking to contribute to the community. If you have any suggestions, you can contact us at the places below. </p3></p>
  
</p3>
</p>



</div>
</b1>
</p>
</div>
</div>


{% endblock %}
	
