<!DOCTYPE HTML>
<html lang="en">
<!-- Link for boostrap CSS support -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- link for CSS stylesheet -->
<link rel="stylesheet" href="styles.css">


<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/about">About</a>
    </div>
  </div>
</nav>

<h1> Latest Block: {{latestBlock}} </h1>
<!--Lets make this shit -->

<div class="container">

<div class="jumbotron"  >
  <h1>Welcome to the Easy Walton Tracker!</h1>
  <p>Search your wallet address below to get started</p>
  <form action="/search" method="POST">
  <div class="search_bar">
        <input type="text" name = "etherbase" placeholder="Enter Wallet Address" required/>
        <input type="submit", value = "Search" />
    </div>
</form>

</div class='container'>
	<h1> F.A.Q. </h1>
	<h3> What is this website? </h3>
	<p3> This site is a tool for tracking blocks mined to the Waltonchain network. It tracks blocks by address and displays data such as the total blocks mined, when a block was mined by a certain address, and which computer mined each block. To see the data for a specific wallet address, just paste it in the searchbar above! </p3>
	<h3> How do I setup my miner? </h3>
	<p3> If you already are mining Walton, you are 99% of the way there! Just add the --extradata flag to your miner to start tracking your rigs. If you're new to Walton or mining in general, visit the "How to" page in the top navbar to see full instructions on how to setup your computer for Waltonchain </p3>
	<h3> Who are you? </h3>
	<p3> We are just some dudes from Brooklyn! Check out the "About" page to read more about us and why we are doing this.</p3>

</div>

<div >

<div class="footer">
  <p>Donations (ETH): 0x56cb568aa7a1b1ba182165e42ed138b9cec884fc</p>
</div>

<style>
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: black;
    text-align: left;
}
</style>

</html>