{% extends "template.html" %}
{% set active_page = "miner" %}
{% block content %}

<div class="container">


{% if error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>ERROR</strong> {{error}}.
</div>
{% endif %}

{% if message %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ message }}</strong>
</div>
{% endif %}

	

<div class="jumbotron"  >
	<h1>The Easy Walton Tracker BETA can give you email alerts when you mine a block! </h1>
	<p>Enter your wallet address and email below to sign up. If you would like to have multiple emails for seperate wallets then you can submit a second set of forms. If you would like to remove your email, scroll down to the second form. Please be patient when waiting for the form to submit</p>
	<br/>
	<p> If you would like to have emails sent to specific addresses based on extra_data, you can enter the extra_data 
		value in the optional submission box. This will send emails to the address submitted only if the extra_data key matches. 
		If you leave this value empty, you will get an email every time.
	<form action="/emailSubmit" method="POST">
	<div class="input-group">
      <input type="text" class="form-control" name="etherbase" placeholder="Enter Wallet Address"" aria-label="Search for...">
      <br/>
       <input type="text" class="form-control" name="email" placeholder="Enter Email"" aria-label="Search for...">
       <br/>
       <input type="text" class="form-control" name="extra" placeholder="Extra Data (optional)"" aria-label="Search for...">
       <br/>
      <span class="input-group-btn">
        <input class="btn btn-primary btn-lg active" type="submit" role="input" aria-pressed="true"></a>
      </span>
    </div>
</form>
</div>

</div>

<div class="container">

<div class="jumbotron"  >
	
	<p>If you would like to remove yourself from the email list, enter your information below. Note that doing this will unsubscribe you from all alerts for that wallet and email combination regardless of the extra_data.</p>

	<form action="/emailRemove" method="POST">
	<div class="input-group">
      <input type="text" class="form-control" name="etherbaseRemove" placeholder="Enter Wallet Address"" aria-label="Search for...">
      <br/>
       <input type="text" class="form-control" name="emailRemove" placeholder="Enter Email"" aria-label="Search for...">
       <input type="text" class="form-control" name="extraRemove" placeholder="Extra Data (optional)"" aria-label="Search for...">

      <span class="input-group-btn">
        <input class="btn btn-primary btn-lg active" type="submit" role="input" aria-pressed="true"></a>
      </span>
    </div>
</form>
</div>


{% endblock %}
