{% extends "template.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="styles.css">
<style> 
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* fade in tabs! */
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (min-width: 768px) {

.table{
 height: 500px; 
 display: -moz-groupbox;
}
.tbody{
  overflow-y: scroll;
  height: 500px;
  width: 100%;
  position: absolute;
}

.tr {
width: 100%;
display: inline-table;

table-layout: auto;
  
}

}

</style>


<center>
<h4>This page shows the top 50 earners by wallet and extra data.</h4>
<b1> Last Updated: {{ momentjs(lastUpdate).fromNow() }}
</center>

<div class="container"  overflow: auto>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Last 24H')" id="defaultOpen">Last 24 Hours</button>
  <button class="tablinks" onclick="openCity(event, 'Week')">Last Week</button>
  <button class="tablinks" onclick="openCity(event, 'Month')">Last Month</button>
  <button class="tablinks" onclick="openCity(event, 'All Time')">All Time</button>
</div>


<div id="All Time" class="tabcontent">

<div id="desktop" class="highscoreDesktop">

<!--Lets make this shit -->

<div class="container" overflow: auto>


  <div class="row">

    <div class="col-sm-7">

<h3> Top Mining Wallets </h3>


<div id="topWallets">
	
<table class=' table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>


	<thead>
		<tr>
			<th scope="col">Rank</th>
			<th scope="col">Miner</th>
			<th scope="col">Total Blocks</th>
		</tr>
	</thead>
	<tbody>
		{% for line in topWallets %}
		<tr>
			<td>{{loop.index}}</td>
			<td><a href="/miner/{{line.miner}}">{{line.miner}}</a></td>
			<td>{{line.total}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>


 <div class="col-sm-5"> 
 	

<div id="topRigs" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Rank</th>
			<th scope="col">Extra Data</th>
			<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
					{% for line in topRigs %}
						<tr>
							<td>{{loop.index}}</td>
							<td><a href="/extra/{{line.extra_data}}">{{line.extra_data  | truncate(30, True) }}</a></td>
							<td>{{line.total}}</td>
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>

<div id="phone">
<div class="container"  overflow: auto>

<div class="container">
  <div class="row">
    <div class="col">

<h3> Top Mining Wallets </h3>


<div id="topWallets">
	
<table class=' table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>


	<thead>
		<tr>
			<th scope="col">Rank</th>
			<th scope="col">Miner</th>
			<th scope="col">Total Blocks</th>
		</tr>
	</thead>
	<tbody>
		{% for line in topWallets %}
		<tr>
			<td>{{loop.index}}</td>
			<td><a href="/miner/{{line.miner}}">{{line.miner | truncate(15, True) }}</a></td>
			
			<td>{{line.total}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>

 <div class="col"> 
 	

<div id="topRigs" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Rank</th>
			<th scope="col">Extra Data</th>
			<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
					{% for line in topRigs %}
						<tr>
							<td>{{loop.index}}</td>
							<td><a href="/extra/{{line.extra_data}}">{{line.extra_data | truncate(15, True) }}</a></td>
							
							<td>{{line.total}}</td>
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{# FOR LAST 24H #}

<div id="Last 24H" class="tabcontent">

<div id="desktop">

<!--Lets make this shit -->

<div class="container" overflow: auto>


  <div class="row">

    <div class="col-sm-7">

<h3> Top Mining Wallets </h3>


<div id="topWallets">
	
<table class=' table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>


	<thead>
		<tr>
			<th scope="col">Rank</th>
			<th scope="col">Miner</th>
			<th scope="col">Total Blocks</th>
		</tr>
	</thead>
	<tbody>
		{% for line in topWallets24 %}
		<tr>
			<td>{{loop.index}}</td>
			<td><a href="/miner/{{line.miner}}">{{line.miner}}</a></td>
			<td>{{line.total}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>


 <div class="col-sm-5"> 
 	

<div id="topRigs" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Rank</th>
			<th scope="col">Extra Data</th>
			<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
					{% for line in topRigs24 %}
						<tr>
							<td>{{loop.index}}</td>
							<td><a href="/extra/{{line.extra_data}}">{{line.extra_data | truncate(30, True) }}</a></td>
							<td>{{line.total}}</td>
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>

<div id="phone">
<div class="container"  overflow: auto>

<div class="container">
  <div class="row">
    <div class="col">

<h3> Top Mining Wallets </h3>


<div id="topWallets">
	
<table class=' table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>


	<thead>
		<tr>
			<th scope="col">Rank</th>
			<th scope="col">Miner</th>
			<th scope="col">Total Blocks</th>
		</tr>
	</thead>
	<tbody>
		{% for line in topWallets24 %}
		<tr>
			<td>{{loop.index}}</td>
			<td><a href="/miner/{{line.miner}}">{{line.miner | truncate(15, True) }}</a></td>
			
			<td>{{line.total}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>

 <div class="col"> 
 	

<div id="topRigs" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Rank</th>
			<th scope="col">Extra Data</th>
			<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
					{% for line in topRigs24 %}
						<tr>
							<td>{{loop.index}}</td>
							<td><a href="/extra/{{line.extra_data}}">{{line.extra_data | truncate(15, True) }}</a></td>
							
							<td>{{line.total}}</td>
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{# FOR LAST WEEK  #}

<div id="Week" class="tabcontent">

<div id="desktop">

<!--Lets make this shit -->

<div class="container" overflow: auto>


  <div class="row">

    <div class="col-sm-7">

<h3> Top Mining Wallets </h3>


<div id="topWallets">
	
<table class=' table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>


	<thead>
		<tr>
			<th scope="col">Rank</th>
			<th scope="col">Miner</th>
			<th scope="col">Total Blocks</th>
		</tr>
	</thead>
	<tbody>
		{% for line in topWalletsWeek %}
		<tr>
			<td>{{loop.index}}</td>
			<td><a href="/miner/{{line.miner}}">{{line.miner}}</a></td>
			<td>{{line.total}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>


 <div class="col-sm-5"> 
 	

<div id="topRigs" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Rank</th>
			<th scope="col">Extra Data</th>
			<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
					{% for line in topRigsWeek %}
						<tr>
							<td>{{loop.index}}</td>
							<td><a href="/extra/{{line.extra_data}}">{{line.extra_data | truncate(30, True) }}</a></td>
							<td>{{line.total}}</td>
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>

<div id="phone">
<div class="container"  overflow: auto>

<div class="container">
  <div class="row">
    <div class="col">

<h3> Top Mining Wallets </h3>


<div id="topWallets">
	
<table class=' table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>


	<thead>
		<tr>
			<th scope="col">Rank</th>
			<th scope="col">Miner</th>
			<th scope="col">Total Blocks</th>
		</tr>
	</thead>
	<tbody>
		{% for line in topWalletsWeek %}
		<tr>
			<td>{{loop.index}}</td>
			<td><a href="/miner/{{line.miner}}">{{line.miner | truncate(15, True) }}</a></td>
			
			<td>{{line.total}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>

 <div class="col"> 
 	

<div id="topRigs" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Rank</th>
			<th scope="col">Extra Data</th>
			<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
					{% for line in topRigsWeek %}
						<tr>
							<td>{{loop.index}}</td>
							<td><a href="/extra/{{line.extra_data}}">{{line.extra_data | truncate(15, True) }}</a></td>
							
							<td>{{line.total}}</td>
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>











{# FOR LAST Month  #}

<div id="Month" class="tabcontent">

<div id="desktop">

<!--Lets make this shit -->

<div class="container" overflow: auto>


  <div class="row">

    <div class="col-sm-7">

<h3> Top Mining Wallets </h3>


<div id="topWallets">
	
<table class=' table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>


	<thead>
		<tr>
			<th scope="col">Rank</th>
			<th scope="col">Miner</th>
			<th scope="col">Total Blocks</th>
		</tr>
	</thead>
	<tbody>
		{% for line in topWalletsMonth %}
		<tr>
			<td>{{loop.index}}</td>
			<td><a href="/miner/{{line.miner}}">{{line.miner}}</a></td>
			<td>{{line.total}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>


 <div class="col-sm-5"> 
 	

<div id="topRigs" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Rank</th>
			<th scope="col">Extra Data</th>
			<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
					{% for line in topRigsMonth %}
						<tr>
							<td>{{loop.index}}</td>
							<td><a href="/extra/{{line.extra_data}}">{{line.extra_data  | truncate(30, True) }}</a></td>
							<td>{{line.total}}</td>
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>

<div id="phone">
<div class="container"  overflow: auto>

<div class="container">
  <div class="row">
    <div class="col">

<h3> Top Mining Wallets </h3>


<div id="topWallets">
	
<table class=' table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>


	<thead>
		<tr>
			<th scope="col">Rank</th>
			<th scope="col">Miner</th>
			<th scope="col">Total Blocks</th>
		</tr>
	</thead>
	<tbody>
		{% for line in topWalletsMonth %}
		<tr>
			<td>{{loop.index}}</td>
			<td><a href="/miner/{{line.miner}}">{{line.miner | truncate(15, True) }}</a></td>
			
			<td>{{line.total}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>

 <div class="col"> 
 	

<div id="topRigs" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Rank</th>
			<th scope="col">Extra Data</th>
			<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
					{% for line in topRigsMonth %}
						<tr>
							<td>{{loop.index}}</td>
							<td><a href="/extra/{{line.extra_data}}">{{line.extra_data | truncate(15, True) }}</a></td>
							
							<td>{{line.total}}</td>
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

















<br/>
<center>
<h4> Who are Windows and Linux and how did they get so many Blocks? </h4>
<b1> "Windows" represents miners who have not set an extra data key to their mining rigs. </b1>
<br/>
<b1> "Linux" represents that one guy who got the mining client earlier than everyone else! </b1>
<br/>
<br/>
<h4> How do some people have so many blocks? </h4>

<b1> If you see a wallet that has an unusually high amount of block rewards, you are probably witnessing a "pooling" on Guardian Masternode and Masternode wallets in order to gain more WTCT per block mined. 
	This means that multiple people will mine to a GMN wallet address and expect to be paid back a portion of each block that they mine. For example, instead of recieveing 2 WTCT per block, a GMN will recieve 4 and will then split the extra 2 WTCT with the miner. 
<br/>
<br/>
	WE DO NOT reccommend or endorse these services due to the risky nature of trusting unknown third parties. Any requests to implement or otherise help with this kind of unofficial pool will not be responded to. 
</b1>
</center>
</div>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>



{% endblock %}

