{% extends "template.html" %}
{% set active_page = "home" %}
{% block content %}

<style type="text/css">
	
h4 {
border-bottom: 2px solid midnightblue;

}

p2 {

}
</style>



<script src="/static/js/moment.min.js"></script>

{% if error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>ERROR</strong> {{error}}.
</div>
{% endif %}

<div class="container">


<style type="text/css">

.jumbotron {


background-size: cover;
background-image: url(./walton.jpg);

 }
.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-ticker {
    display: flex;
   
    justify-content: center;
}

div.centered 
{
    text-align: center;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}


<div class="centered">
    <table>
    …
    </table>
</div>

</style>


<div class="container">
		
<div class="row">
	<div class="container-header">
<div class="col-md-9 mt-md-0 mt-4">
<h2>Welcome to Easy Walton Miner! (BETA) </h2>

	

</div>

<div class="col-md-3 .col-md-offset-9">

	<div class="container-ticker">

		<script type="text/javascript">
crypt_single_base_currency = "WTC (WTC)";crypt_single_target_currency = "US Dollar (USD)";crypt_single_border_width = 0;crypt_single_display_time = false;</script><script type="text/javascript" src="https://www.cryptonator.com/ui/js/widget/single_widget.js"></script>

		{#
<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="1925" data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>
#}
</div>

</div>
	</div>
</div>
</div>

</br>


<div class="jumbotron">
<p>Search your wallet address below to get started</p>
	<form action="/searchMiner" method="POST">
	<div class="input-group">
      <input type="text" class="form-control" name="etherbase" placeholder="Enter Wallet Address"" aria-label="Search for...">
      <span class="input-group-btn">
        <input class="btn btn-primary btn-lg active" type="submit" role="intput" aria-pressed="true"></a>
      </span>
    </div>
</form>
<p> NEW: You can now search by extra_data keys too! Try it out to see all the blocks a specific computer has gotten.</p>

<form action="/searchExtra" method="POST">
	<div class="input-group">
      <input type="text" class="form-control" name="extra" placeholder="Enter Extra Data"" aria-label="Search for...">
      <span class="input-group-btn">
        <input class="btn btn-primary btn-lg active" type="submit" role="intput" aria-pressed="true"></a>
      </span>
    </div>
</form>	
</div>






<body data-spy="scroll" data-target=".navbar" data-offset="-50" id="scrollStuff">



<div id="demoBlocks">
	<h4>Demo of Last 10 Blocks</h4>
	<b1> Last Updated: {{ momentjs(lastUpdate).fromNow() }}
</div>



<div id="phone">
	<table id = "phone-table" class='height: 100px; table-centered max-width: 100%; table table-responsive table-hover data-spy="scroll" overflow: ellipsis table table-striped table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Block</th>
			<th scope="col">Wallet</th>
			<th scope="col">Rig</th>
			{#
			<th scope="col">Difficulty (TH)</th>
			
			<th scope="col">Gas</th>
			
			<th scope="col">Time</th>
		#}
		</tr>
		</thead>
		<tbody>
					{% for line in lastTen %}
						<tr>
								<td><a href="http://waltonchain.net/#/blockNumber?blockNumber={{line.blockNum}}">{{line.blockNum}}</a></td>
								<td><a href="/miner/{{line.miner}}">{{line.miner | truncate(7, True) }}</a></td>
								
								<td><a href="/extra/{{line.extra_data}}">{{line.extra_data | truncate(13, True) }}</a></td>
								{#
								<td>{{line.difficulty}}</td>
								
								<td>{{line.gasUsed}}</td>
								
								<td>
									{# this is conversion to local datetime 
									{{ momentjs(line.timest).fromNow() }}
									
        						</td>
        						#}
        						

						</tr>
					{% endfor %}
			</tbody>

	</table>
</div>

<div id="desktop">
		<table id="desk-table" class='height: 100px; table-centered max-width: 100%; table text-centered table-responsive table-hover data-spy="scroll" overflow: ellipsis table table-striped table-responsive' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Block</th>
			<th scope="col">Wallet</th>
			<th scope="col">Rig</th>
			<th scope="col">Difficulty (TH)</th>
			{#
			<th scope="col">Gas</th>
			#}
			<th scope="col">Time</th>
			{#
			<th scope="col">Date</th>
		#}
		</tr>
		</thead>
		<tbody>
					{% for line in lastTen %}
						<tr>
								<td><a href="http://waltonchain.net/#/blockNumber?blockNumber={{line.blockNum}}">{{line.blockNum}}</a></td>
								<td><a href="/miner/{{line.miner}}">{{line.miner }}</a></td>
								<td><a href="/extra/{{line.extra_data}}">{{line.extra_data}}</a></td>
								
								<td>{{line.difficulty}}</td>
								{#
								<td>{{line.gasUsed}}</td>
								#}
								<td>
									{# this is conversion to local datetime #}
									{{ momentjs(line.timest).fromNow() }}
									
        						</td>
        						{#
        						<td>
									{# this is conversion to local datetime 
									{{ momentjs(line.timest).calendar() }}
        						</td>
        						#}
						</tr>
					{% endfor %}
			</tbody>

	</table>
</div>


<h4>Block Difficulty History</h4>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<canvas id="myChart" width="auto" height="auto"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var labels = [];
var data = [];

{% for line in graph %}
	labels.push("{{line.blockNum}}");
	data.push({{line.difficulty}});
{% endfor %}

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Difficulty (TH)',
            data: data,
            pointRadius: 0,
            borderWidth: 1,
            borderColor: 'rgba(54, 162, 235, 1)',
            pointBorderColor: 'rgba(54, 162, 235, 1)',
            pointHoverRadius: 4,
            backgroundColor: 'rgba(54, 162, 235, 0.2)', 
        }]
    },
    options: {
        scales: {
        	
            yAxes: [{

                ticks: {
                    beginAtZero:true,
                  	maxTicksLimit: 10
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true,
                    maxTicksLimit: 20
                }
            }]
        },
        title: {
            display: true,
            text: 'Difficulty Chart'
        },
    }
});
</script>


<style type="text/css">

body {
      position: relative; 
}

</style>







</b1>
</p>
</body>
</div>
</div>


{% endblock %}
	
