{% extends "template.html" %}
{% set active_page = "howto" %}

{% block content %}
<div class="container">

<h1> How To: </h1>
<br/>
<h4> Requirements: </h4>
<br/>
<b1> 1) A Windows Computer <br/>
	2) <a href="https://github.com/WaltonChain/WaltonWallet_Win_x64">The Walton Wallet v1.0.17</a> <br/>
	3) <a href="https://github.com/scavicchio/Easy-Walton-Miner">EasyWaltonMiner</a> (Optional) <br/>
</b1>
<br/>
<h4> Instructions: </h4>
<br/>
<b1> To use this service, you will need to be mining Walton using original 1.0.17 Wallet version found <a href="https://github.com/WaltonChain/WaltonWallet_Win_x64">here</a>. If you have already upgraded to the newer version of the miner, that is OK. You can uninstall that one and "downgrade" to the older one. In the meantime, we will work on a way to get the newer version working here!

	<br/>
	Once you have installed and confirmed that the miner is working, we reccommend you head over to our GitHub to download the <a href="https://github.com/scavicchio/Easy-Walton-Miner">EasyWaltonMiner</a>. This will allow you an easy way to setup your miner for this service. 

	<br/>
	This website works by tracking the Walton blockchain and specifically targetting the "extradata" attached to each block. Therefore, to use this service, all you have to do is add some extra data to your miner. You can follow the instructions on the <a href="https://github.com/scavicchio/Easy-Walton-Miner">EasyWaltonMiner Github</a> to set this up properly. 

	<br/>
<br/>

</b1>
</div>
<div class="container">
   <div class="row">
  <div class="col">
<h4> Other Resources: </h4>
<br/>
<b1> <a href="https://reddit.com/r/waltonchainmining">WaltonChainMining Reddit</a>
  <br/>
  <a href="https://reddit.com/r/waltonchain">WaltonChain General Reddit</a>
  <br/>
  <a href="https://waltonchain.net">Official WaltonChain Block Explorer</a>
  <br/>
  <a href="https://waltonchain.org">Official WaltonChain Website</a>
  <br/>
  <a href="https://www.reddit.com/r/waltonchain/comments/8nrpq6/waltonchain_allinone_thread/"> All-In-One WaltonChain Thread </a>
  <br/>
</b1>
</div>
 <div class="col">
<h4> Fun Reads: </h4>
<br/>
<b1><a href="https://startupboy.com/2013/11/07/bitcoin-the-internet-of-money/">Why Bitcoin Matters</a>
  <br/>
  <a href="https://blog.coinbase.com/how-digital-currency-will-change-the-world-310663fe4332">How Digital Currencty Will Change the World</a>
  <br/>
  <a href="https://blog.goodaudience.com/waltonchains-bigger-picture-obor-b02ae47826d5">Waltonchain’s Bigger Picture: OBOR</a>
  <br/>
  <a href="https://medium.com/@thelatemercutio/huge-news-from-the-2018-waltonchain-annual-meeting-a-full-overview-e44cde81ccb1">A Full Overiew of the 2018 Waltonchain Annual Meeting</a>


</b1>
</div>
</div>


</div>


{% endblock %}

