{% extends "template.html" %}
{% block content %}



<!--Lets make this shit -->


<div id="desktop">
<div class="container"  overflow: auto>

<h4>Etherbase: {{etherbase}} </h4>
<h5>Total Blocks Mined: {{blockCount}} </h5>
<b1> Last Updated: {{ momentjs(lastUpdate).fromNow() }}


<div class="container">

  <div class="row">

    <div class="col-sm-7">

<h3> All Mined Blocks </h3>


<div id="lastFiveTable">
	
<table class=' table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>


	<thead>
		<tr>
			<th scope="col">Block</th>
			<th scope="col">Key</th>
			<th scope="col">Difficulty (TH)</th>
			<th scope="col">Time (local)</th>
			{#
			<th scope="col">Date</th>
			
			<th scope="col">Gas</th> 
			#}
		</tr>
	</thead>
	<tbody>
		{% for line2 in lastFive %}
		<tr>
			<td><a href="http://waltonchain.net/#/blockNumber?blockNumber={{line2.blockNum}}">{{line2.blockNum}}</a></td>
			<td><a href="/extra/{{line2.extra_data}}">{{line2.extra_data }}</a></td>
			{#
			<td>
				{# this is conversion to local datetime 
				
				{{ momentjs(line2.timest).format('l, LT') }}
								
			</td>
			#}
			<td>{{line2.difficulty}}</td>
			<td>
				{# this is conversion to local datetime #}
				{{ momentjs(line2.timest).format('l, LT') }}
			</td>

			
			
			{#
			<td>{{line2.gasUsed}}</td>
			#}
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>


 <div class="col-sm-5"> 
 	

<div id="BlockRigTotal" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Key</th>
			<th scope="col">Last Week</th>
			<th scope="col">Last Month</th>
			<th scope="col">All Time</th>
		</tr>
		</thead>
		<tbody>
					{% for line in data3 %}
						<tr>
						 
								<td><a href="/extra/{{line.extra_data}}">{{ line.extra_data | truncate(15, True) }}</a></td>
								<td>{{line.lastWeek}}</td>
								<td>{{line.lastMonth}}</td>
								<td>{{line.theCount}}</td>
								 
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>
</div>














<div id="phone">
<div class="container"  overflow: auto>

<h4>Etherbase: </h4> 
<b1>{{etherbase}} </b1>
<h5>Total Blocks Mined: {{blockCount}} </h5>
<b1> Last Updated: {{ momentjs(lastUpdate).fromNow() }}

<div class="container">
  <div class="row">
    <div class="col">

<h3> All Mined Blocks </h3>
<div id="lastFiveTable">
<table class='height: 100px; table text-centered table-hover data-spy="scroll" overflow: auto table  table-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>

	<thead>
		<tr>
			<th scope="col">Block</th>
			<th scope="col">Key</th>
			<th scope="col">Time</th>
			{#
			<th scope="col">Date</th>
			<th scope="col">Difficulty</th>
			<th scope="col">Gas</th> 
			#}
		</tr>
	</thead>
	<tbody>
		{% for line2 in lastFive %}
		<tr>
			<td><a href="http://waltonchain.net/#/blockNumber?blockNumber={{line2.blockNum}}">{{line2.blockNum}}</a></td>
			<td><a href="/extra/{{line2.extra_data}}">{{line2.extra_data}}</a></td>
			{#
			<td>
				{# this is conversion to local datetime 
				
				{{ momentjs(line2.timest).format('l, LT') }}
								
			</td>
			#}
			<td>
				{# this is conversion to local datetime #}
				{{ momentjs(line2.timest).format('l, LT') }}
			</td>

			{#
			<td>{{line2.difficulty}}</td>
			<td>{{line2.gasUsed}}</td>
			#}
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
 </div>

 <div class="col"> 
 	

<div id="BlockRigTotal" style="overflow: scroll">

	<h3>Records by Key</h3>
<table class='max-height:300px table text-centered table-hover data-spy="scroll" overflow: auto tabletable-striped table-sm table-responsive ' style='margin-left: auto; margin-right: auto'>
		<thead>
			<tr>
			<th scope="col">Key</th>
			<th scope="col">Last Week</th>
			<th scope="col">Last Month</th>
			<th scope="col">All Time</th>
		</tr>
		</thead>
		<tbody>
					{% for line in data3 %}
						<tr>
						 
								<td><a href="/extra/{{line.extra_data}}">{{line.extra_data}}</a></td>
								<td>{{line.lastWeek}}</td>
								<td>{{line.lastMonth}}</td>
								<td>{{line.theCount}}</td>
								
						</tr>
					{% endfor %}
			</tbody>

</table>
</div>
</div>
</div>
</div>
</div>
</div>




{% endblock %}

